<% if (errors && errors.length> 0) { %>
    <div class="alert">
        <div class="alert__error">
            <ul>
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error %>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>
    <% } %>

        <% if (success && success.length> 0) { %>
            <div class="alert">
                <div class="alert__success">
                    <% success.forEach(success=> { %>
                        <%= success %>
                            <% }); %>
                </div>
            </div>
            <% } %>