<%- include('includes/head') %>
    <%- include('includes/navbar') %>

        <section class="error-page">
            <div class="error-msg">
                <span>Ops...</span>
                <h1>Page not found</h1>
            </div>
            <img src="/assets/images/404.svg" alt="Error 404 image">
        </section>

        <%- include('includes/footer') %>