<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model</title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form action="/" method="post">
        <label>Cliente name</label>
        <input type="text" name="client">
        <button>Submit</button>
    </form>
    <script src="./assets/js/bundle.js"></script>
</body>

</html>