<%- include('includes/head') %>
    <%- include('includes/navbar') %>

        <section class="container">
            <div class="header-content">
                <h1>Registered Students</h1>
                <button class="btn-filled">
                    <svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M24.0001 17.3306H17.3334V23.9973C17.3334 24.3509 17.1929 24.69 16.9429 24.9401C16.6928 25.1901 16.3537 25.3306 16.0001 25.3306C15.6465 25.3306 15.3073 25.1901 15.0573 24.9401C14.8072 24.69 14.6667 24.3509 14.6667 23.9973V17.3306H8.00008C7.64646 17.3306 7.30732 17.1901 7.05727 16.9401C6.80722 16.69 6.66675 16.3509 6.66675 15.9973C6.66675 15.6437 6.80722 15.3045 7.05727 15.0545C7.30732 14.8044 7.64646 14.6639 8.00008 14.6639H14.6667V7.99727C14.6667 7.64365 14.8072 7.30451 15.0573 7.05446C15.3073 6.80442 15.6465 6.66394 16.0001 6.66394C16.3537 6.66394 16.6928 6.80442 16.9429 7.05446C17.1929 7.30451 17.3334 7.64365 17.3334 7.99727V14.6639H24.0001C24.3537 14.6639 24.6928 14.8044 24.9429 15.0545C25.1929 15.3045 25.3334 15.6437 25.3334 15.9973C25.3334 16.3509 25.1929 16.69 24.9429 16.9401C24.6928 17.1901 24.3537 17.3306 24.0001 17.3306Z"
                            fill="white" />
                    </svg> Add Student</button>
            </div>

            <div class="responsive-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Admission</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jonh Lennon</td>
                            <td>johnlennon@gmail.com</td>
                            <td>+353 086 7654</td>
                            <td>20.06.2024</td>
                            <td>UX Design</td>
                        </tr>
                        <tr>
                            <td>Jonh Lennon</td>
                            <td>johnlennon@gmail.com</td>
                            <td>+353 086 7654</td>
                            <td>20.06.2024</td>
                            <td>UX Design</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <%- include('includes/footer') %>